* {
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
  
.container {
    width: min(100vw);
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 3fr;
    grid-template-areas: "sidebar header"
    "sidebar main-content";
}

.sidebar {
    color: white;
    background-color: rgb(205, 46, 73);
    grid-area: sidebar;
    padding: 30px;
}

.sidebar-inside {
    display: grid;
    grid-template-columns: repeat(1, 1fr 5fr);
    row-gap: 52px;
}

.sidebar-inside > .img {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}

.sidebar-inside > .text {
    padding-top: 2px;
    padding-right: 0;
    margin-right: 0;
}

.sidebar-inside > .text > b:hover {
    cursor: pointer;
    color: rgb(199, 193, 193);
}

/*  */

.header {
    background-color: white;
    padding: 10px 60px 10px 40px;  
    grid-area: header;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
    justify-content: center;
}

.header > .search {
    display: flex;
    gap: 10px;
}

.header > .search > input {
    width: 100%;
    max-width: 500px;
    padding: 10px 20px;
    background: #e9e3e3;
    border: none;
    border-radius: 30px;
    margin-left: 10px;
    align-self: center;
}

.header-right-top {
    display: flex;
    justify-content: space-evenly;
}

.logo {
    width: 50px; 
    height: 50px;
    border-radius: 50%;
}

.header-right-top p {
    align-self: center;
}

.header-introduce {
    display: flex;
    gap: 22px;
    align-self: center;
}

.header-introduce > .logo {
    width: 60px; 
    height: 60px;
    border-radius: 50%;
}

.header-introduce > div {
    align-self: center;
}

.header > .header-button {
    align-self: center;
    display: flex;
    gap: 20px;
}

.header-button > button {
    color: white;
    font-weight: bold;
    font-size: small;
    background-color: rgb(205, 46, 73);
    padding: 10px 30px;
    border: 1px solid white;
    border-radius: 20px;
}

.header-button > button:hover {
    color: rgba(255, 254, 254, 0.942);
    background-color: rgba(215, 73, 97, 0.823);
    cursor: pointer;
}

/*  */

.main-content {
    background-color: rgb(233, 227, 227);
    grid-area: main-content;
    padding: 20px;
    box-shadow: inset 0 5px 5px rgb(211, 205, 205);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 10px;
}

label {
    font-weight: bold;
}

.project {
    background-color: rgb(233, 227, 227);
    border: 1px solid rgb(233, 227, 227);
    grid-column: 1 / 3;
    grid-row: 1 / 4;
}

.project-concent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 75vh;
    gap: 30px;
    margin: 10px;
}

.project-concent > div {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    border-left: 8px solid rgb(205, 46, 73);
    display: grid;
    box-shadow: 5px 5px 5px rgb(211, 205, 205);
}

.project-concent > div > div {
    background-color: white;
    border: 1px solid white;
    justify-self: end;
    align-self: end;
}

.project-concent > div > div > img {
    padding-left: 20px;
}

.project-concent > div > div {
    margin-top: 20px;
}

img:hover {
    cursor: pointer;
}

.announcements {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.announcements > .content, .trending > .content {
    background-color: white;
    padding: 20px 30px;
    border-radius: 10px;
    margin: 10px;
    margin-right: 20px;
    display: grid;
    grid-template-rows: repeat(autofit, 1fr);
    box-shadow: 5px 5px 5px rgb(211, 205, 205);
}

.content > div {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    border: 8px solid white;
    border-bottom: 1px solid rgb(199, 193, 193);
}

.announcements > div > .last {
    border-bottom: 1px solid white;
}

.trending {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.trending > .content {
    display: grid;
    grid-template-columns: repeat(1, 1fr 4fr);
    gap: 10px;
}

.trending > .content > div {
    background-color: white;
    padding: 10px;
    border: 8px solid white;
}

.trending > .content > img {
    align-self: center;
}